:root {
    --html: #ffffff;
    --p: #ffffff;
    --h1: #FE0065;
    --h4: #FE0065;
    --font: #000000;
    --statbox1: #FE0065;
    --h4-font: #ffffff;
    --border-color: #c4c4c4;
}

[data-theme="dark"] {
    --html: #181818;
    --bg-color: #181818;
    --font: #ffffff;
    --statbox1: #FE0065;
    --h4-font: #ffffff;
    --border-color: #2b2b2b;
}






html {
    background-color: var(--html);
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: var(--h1);
    font-size: 3em;
    text-align: center;
}

h4 {
    margin: 0;
    font-size: 1em;
    background-color: var(--statbox1);
    padding: 10px;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}


img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 98%;
    max-width: 640px;
}

.container {
    position: relative;
}

.gallery {
    display: none;
}

/*Grid container */
.grid-container {
    background: var(--bg-color);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-gap: 10px;
    padding: 10px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

.box1 {
    text-align: center;
    font-size: 1.1em;
}

.description {
    color: var(--font);
    margin-left: 5px;
    margin-right: 5px;
}

.description qt::before,
qt::after {
    font-size: 1.5em;
    color: #FE0065;
    font-family: 'Coustard', serif;
}

.description qt::before {
    content: open-quote;

}

.description qt::after {
    content: close-quote;
}

.box2 {
    grid-row: 3/5;
    grid-auto-rows: auto;
    text-align: justify;
    color: var(--font);
    padding-left: 0;
    padding-right: 0;
    font-size: 1em;
    padding-top: 0;
}

.box4 {
    grid-row: 5;
    grid-auto-rows: auto;
    text-align: justify;
    color: var(--font);
    padding-left: 0;
    padding-right: 0;
    font-size: 1em;
    padding-top: 0;
}

.desc {
    /* padding-left: 6px; */
    /* padding-right: 6px; */
}

.box2 h4,
.box4 h4 {
    text-align: center;
    color: var(--h4-font);
}

.noselect {
    user-select: none;
    /* vertical-align: bottom;
    color: grey;
    font-size: .8em !important;
    font-weight: bold; */
}

/*Grid container */

/*Stats grid*/
.stats {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 31px auto 1fr;
    text-align: left;
    font-size: .9em;
    color: var(--font);
    font-family: 'Roboto', sans-serif;
}

.stat_box1 {
    grid-column: 1/5;
    text-align: center;
    background-color: var(--statbox1);
    font-weight: bold;
    padding-top: 8px;
    padding-bottom: 8px;
    color: var(--h4-font);
}

.stat_box2 {
    grid-column: 1/3;
    border-bottom: 2px solid var(--border-color);
    text-align: left;
    font-weight: bold;
    padding-top: 8px;
    padding-left: 8px;
    border-left: 2px solid var(--border-color);
    font-size: 1.2em;
    max-height: 200px;
    padding-bottom: 8px;

}

.stat_box3 {
    grid-column: 3/5;
    border-bottom: 2px solid var(--border-color);
    border-right: 2px solid var(--border-color);
    text-align: left;
    padding-top: 8px;
    padding-left: 10px;
    padding-bottom: 8px;
    vertical-align: middle;

}

/*Stats grid*/




/*slider switch css */
.theme-switch-wrapper {
    display: flex;
    align-items: center;
    position: absolute;
    top: 12px;
    left: 90%;

}

.theme-switch-wrapper em {
    margin-left: 10px;
    font-size: 1rem;
}

.theme-switch {
    display: inline-block;
    height: 17px;
    position: relative;
    width: 30px;
}

.theme-switch input {
    display: none;
}

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: #fff;
    bottom: 2px;
    content: "";
    height: 13px;
    left: 2px;
    position: absolute;
    transition: .4s;
    width: 13px;
}

input:checked+.slider {
    background-color: #66bb6a;
}

input:checked+.slider:before {
    transform: translateX(13px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/*slider switch css */

/*Media queries*/
@media only screen and (min-width: 375px) {
    .theme-switch-wrapper {
        left: 89%;
    }
}

@media only screen and (min-width: 812px) {
    .theme-switch-wrapper {
        left: 94%;
    }

    img {
        max-height: 375px;
        width: auto;
    }
}

/*Media queries*/




/* 
Class: html
Type: background
RGB: rgb(24, 24, 24)
HEX: #181818

Class: h1
Type: color
RGB: rgb(254, 0, 101)
HEX: #FE0065

Class: p
Type: color
RGB: rgb(255, 255, 255)
HEX: #ffffff

Class: .description
Type: color
RGB: rgb(255, 255, 255)
HEX: #ffffff

Class: .description ep
Type: color
RGB: rgb(254, 0, 101)
HEX: #FE0065

Class: .description qt
Type: color
RGB: rgb(255, 255, 255)
HEX: #ffffff

Class: .description qt::before, qt::after
Type: color
RGB: rgb(254, 0, 101)
HEX: #FE0065

Class: hr
Type: border-top
RGB: rgb(10, 10, 10) 
HEX: #0a0a0a

Class: h4
Type: background
RGB: rgb(223, 0, 89) 
HEX: #df0059

Class: .grid-container
Type: background
RGB: rgb(24, 24, 24)
HEX: #181818

Class: .box2
Type: color
RGB: rgb(255, 255, 255)
HEX: #ffffff

Class: .box4
Type: background
RGB: rgb(43, 43, 43)
HEX: #2b2b2b

Class: .stats
Type: color
RGB: rgb(128, 128, 128)
HEX: #808080

Class: .fa
Type: color
RGB: rgb(255, 255, 255)
HEX: #ffffff

Class: .stat_box1
Type: color
RGB: rgb(255, 255, 255)
HEX: #ffffff

Class: .stat_box1
Type: background
RGB: rgb(223, 0, 89)
HEX: #df0059

Class: .stat_box2
Type: border-bottom
RGB: rgb(43, 43, 43)
HEX: #2b2b2b

Class: .stat_box2
Type: color
RGB: rgb(255, 255, 255)
HEX: #ffffff

Class: .stat_box2
Type: border-left
RGB: rgb(43, 43, 43)
HEX: #2b2b2b

Class: .stat_box3
Type: border-bottom
RGB: rgb(43, 43, 43)
HEX: #2b2b2b

Class: .stat_box3
Type: border-right
RGB: rgb(43, 43, 43)
HEX: #2b2b2b

Class: .stat_box3
Type: color
RGB: rgb(255, 255, 255)
HEX: #ffffff

Class: .info noselect
Type: color
RGB: rgb(128, 128, 128)
HEX: #808080
*/