@charset "utf-8";
/* CSS Document */

body {background-color: #0d0d0d;}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /*width: 50%;*/
}


a:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 400px;
}

a:hover, a:active {
  background-color: red;
}

.images
{
	color: white;
	display: none;
	padding:  .1px .1px;
	height: auto;
	width: auto;
	display: block;
	position: auto;
	max-width: auto;
	overflow-y: hidden;
	overflow-x:auto;
}



