html {
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #181818;
  color: white;
}

img {
  pointer-events: none;
  user-select: none;
}

.imgContainer {
  display: flex;
  max-width: 720px;
  margin-bottom: 146px;
  padding: 0px;
}

.MuiContainer-root {
  width: 100%;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  /* padding-left: 8px;
  padding-right: 8px; */
}

.imgColumn {
  display: flex;
  -moz-box-flex: 1;
  flex: 1 0 0%;
  flex-direction: column;
}